In [1]:
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
import re

from linkedin_scraper import Person, actions, Company
import pandas as pd

options = Options()
options.add_argument('--headless')

In [2]:
#Buat user & pass bot
LINKEDIN_USER = "2010511036@mahasiswa.upnvj.ac.id"
LINKEDIN_PASS = "Bimoli216"

In [3]:
# read target users from csv
target_users = pd.read_csv("users.csv")["user"].head(5).tolist()

In [5]:
person_list = []

driver = webdriver.Chrome(ChromeDriverManager().install(), options=options)

actions.login(driver,LINKEDIN_USER,LINKEDIN_PASS)

for user in range(len(target_users)):
    if user == len(target_users)-1:
        person = Person(target_users[user], driver=driver)
    else:
        person = Person(target_users[user], driver=driver, close_on_complete=False)
    
    profile = ({
        'name': person.name,
        'tempat_bekerja': person.experiences[0].institution_name,
        'posisi_bekerja': person.experiences[0].position_title,
        'durasi_bekerja': person.experiences[0].duration,
        'pendidikan_terakhir': person.educations[0].institution_name,
        'degree': person.educations[0].degree,
    })
    
    print(str(user) + ": " + person.name)
    person_list.append(profile)

[WDM] - Current google-chrome version is 111.0.5563
[WDM] - Get LATEST driver version for 111.0.5563
[WDM] - Driver [C:\Users\RanggaSaputra\.wdm\drivers\chromedriver\win32\111.0.5563.64\chromedriver.exe] found in cache

0: Muhammad Bagus Adi Prayoga (He/Him)
1: Ananda Rizky Pratama (He/Him)
2: Muhammad Novendra Aditya Nugraha
3: Abdullah Taqiyyan
4: Muhamad Eko Febriansyah

In [6]:
df_person = pd.DataFrame(person_list)
df_person

,name,tempat_bekerja,posisi_bekerja,durasi_bekerja,pendidikan_terakhir,degree
0,Muhammad Bagus Adi Prayoga (He/Him),M-Knows Consulting,AI Programmer & Data Science,2 bln,Politeknik Negeri Semarang,"Bachelor of Applied Science - BASc, Computer E..."
1,Ananda Rizky Pratama (He/Him),Kontrak 6 bln,Inspection Engineer - Mechanical Static Equipment,3 bln,Politeknik Negeri Semarang,"Bachelor of Applied Science - BASc, Mechanical..."
2,Muhammad Novendra Aditya Nugraha,PT PLN (Persero) · Magang,Internship Trainee,6 bln,Politeknik Negeri Semarang,"Associate's degree, Electrical Engineering"
3,Abdullah Taqiyyan,PT. Riung Mitra Lestari · Purnawaktu,FGDP Supply Chain Management,2 bln,Politeknik Negeri Semarang,"Bachelor's degree, Mechanical Engineer"
4,Muhamad Eko Febriansyah,PT Yamaha Motor RnD Indonesia · Purnawaktu,Body Design Engineer,7 bln,Politeknik Negeri Semarang,"Bachelor of Applied Science - BASc, Mechanical..."

In [7]:
base_url = "https://www.linkedin.com/company/"

companies = [
    "pt--tokopedia",
    "shopee",
    "gojek",
    "gotogroup",
    "flip.id",
    "grabapp",
    "dana-indonesia",
    "m-knows-consulting",
]

In [12]:
company_list = []

driver = webdriver.Chrome(ChromeDriverManager().install(),
                        options=options
                        )

actions.login(driver,LINKEDIN_USER,LINKEDIN_PASS)

for i in range(3):
    if i == len(companies)-1:
        company = Company(base_url + companies[i], driver=driver, get_employees=False)
    else:
        company = Company(base_url + companies[i], driver=driver, close_on_complete=False, get_employees=False)
    
    specialties = str(company.specialties).replace("\n", ", ")
    
    profile = ({
        'name': company.name,
        'about': company.about_us,
        'website': company.website,
        'headquarters': company.headquarters,
        'founded': company.founded,
        'industry': company.industry,
        'company_size': company.company_size,
        'specialties': specialties,
    })
    
    print(str(i) + ": " + company.name)
    company_list.append(profile)

[WDM] - Current google-chrome version is 111.0.5563
[WDM] - Get LATEST driver version for 111.0.5563
[WDM] - Driver [C:\Users\RanggaSaputra\.wdm\drivers\chromedriver\win32\111.0.5563.64\chromedriver.exe] found in cache

<selenium.webdriver.remote.webelement.WebElement (session="692694896cb220b2d9f585f3ffa87a25", element="2dddcc40-b413-4b53-9ee7-b1d8891a4d84")>
0: Tokopedia
<selenium.webdriver.remote.webelement.WebElement (session="692694896cb220b2d9f585f3ffa87a25", element="f590f2b5-42f3-4f94-a1d1-10fea6d5dc6e")>
1: Shopee
<selenium.webdriver.remote.webelement.WebElement (session="692694896cb220b2d9f585f3ffa87a25", element="c390b534-fe11-499a-a793-c2168f01df18")>
2: Gojek

In [13]:
df_company = pd.DataFrame(company_list)
df_company

,name,about,website,headquarters,founded,industry,company_size,specialties
0,Tokopedia,Tokopedia is an Indonesian technology company ...,http://www.tokopedia.com/careers,"Jakarta Selatan, DKI Jakarta",2009,"Technology, Information and Internet","5,001-10,000 employees","Internet, E-commerce, Marketplace, Customer to..."
1,Shopee,Shopee is the leading e-commerce platform in S...,http://careers.shopee.com/,"Singapore, Singapore",None,"Technology, Information and Internet","5,001-10,000 employees",Internet and Mobile Commerce
2,Gojek,Gojek is Southeast Asia’s leading on-demand pl...,https://www.gojek.io/careers,"Jakarta, DKI Jakarta",2010,"Technology, Information and Internet","1,001-5,000 employees","Transport Service, Instant Courier, Shopping a..."